 <h2>兑换率更改日志查询</h2>     
	
    <div class="clearfix">&nbsp;
    <form action="/Home/GrateLog/index"  method="get" class="form-horizontal">
    
    	<include file="Public:instmenu"/>　　　	　　
		<br /><br />
		  <label>开始时间:</label><input class="laydate-icon text" id="demo" name="begintime"  >
		　<label>截止时间:</label><input class="laydate-icon text" id="end" name="endtime"  > 
	　　　　<input type="submit"  value="查询" />
		</form>			
	</div>            	
    <table width="100%" border="0" cellpadding="0" cellspacing="0">   
        <tbody><tr class="even">        
            <th width="20%" scope="col">机构名称</th>
			 <th width="40%" scope="col">管理员</th>
			   <th width="10%" scope="col">原兑换比率</th>
               <th width="10%" scope="col">现兑换比率</th> 
            <th width="20%" scope="col">录入时间</th>           
        </tr>
    <volist name="List" id="vo">
         <tr>   
            <td scope="col">{$vo.inst_name}</td>
            <td scope="col">{$vo.grates_log_username}</td>
            <td scope="col">{$vo.grates_log_past}</td>
			<td scope="col">{$vo.grates_log_now}</td>
            <td scope="col">{$vo.grates_log_time}</td>
        </tr>
   </volist>	
    </tbody></table> 
   <div class="pagelist">{$page}</div> 
    <div class="clearfix">&nbsp;</div>
		  

