<!-- 会员修改日志详情=====张冬冬-->
    <h2>会员修改日志详情</h2>
    <table width="55%" border="0" cellpadding="0" cellspacing="0">   
		<tbody>
		<tr class="even">
            <th>机构号：</th>
            <th>{$memberlog_detail.vrpchange_log_inst}</th>
        </tr>
		<tr class="even">
			<th>录入时间：</th>
			<th>{$memberlog_detail.vrpchange_log_time}</th>
		</tr>
		<tr class="even">
			<th>管理员：</th>
			<th>{$memberlog_detail.vrpchange_log_username}</th>
		</tr>
		<tr class="even">
			<th>修改类型：</th>
			<th>{$memberlog_detail.vrpchange_log_type}</th>
		</tr>
		<tr class="even">
			<th>会员身份证：</th>
			<th>{$memberlog_detail.vrpchange_log_ctf}</th>
		</tr>
		<tr class="even">
            <th>电话：</th>
			<th>{$memberlog_detail.vrpchange_log_phone}</th>
		</tr>
		<tr class="even">
			<th>地址：</th>
			<th>{$memberlog_detail.vrpchange_log_address}</th>
		</tr>
		<tr class="even">
			<th>级别：</th>
			<th>{$memberlog_detail.vrpchange_log_lv}</th>
		</tr>
		<tr class="even">
			<th>属性：</th>
			<th>{$memberlog_detail.vrpchange_log_vrptype}</th>
		</tr>
		<tr class="even">
			<th>会员状态：</th>
			<th>{$memberlog_detail.vrpchange_log_state}</th>
		</tr>
		<tr class="even">
			<th>修改原因：</th>
			<th>{$memberlog_detail.vrpchange_log_reason}</th>
		</tr>
		</tbody>
	</table><br/>
	<a class="" href="__APP__/Home/Memberlog/index">返回</a>
    <div class="clearfix">&nbsp;</div>
