
<img src="__PUBLIC__/Home/common/ss.jpg"/>
	
<!--    <h2>#表格名称#</h2>                   
    <div class="clearfix">&nbsp;
		市级机构:
		<select class="comheight" id="citys">
				<option value="-1">---请选择市---</option>
		</select>
		县级机构:
		<select class="comheight" id="countys">
			<option value="-1">---请选择县---</option>
		</select>
		网点机构:
		<select class="comheight" id="instno">
			<option value="-1">---请选择网点---</option>
		</select>
		
		<input class="laydate-icon" id="demo" readonly="readonly">
	</div>
            	
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
    
        <tbody><tr class="even">
        
            <th width="5%" scope="col">
            <input type="checkbox" name="checkbox" id="checkbox" class="checkall"><label for="checkbox"></label></th>
            
            <th width="18%" scope="col">名</th>
            <th width="16%" scope="col">姓</th>
            <th width="29%" scope="col">邮箱</th>
            <th width="13%" scope="col">开始日期</th>
            <th width="11%" scope="col">结束日期</th>
            <th width="8%" scope="col">状态</th>
        </tr>
        
        <tr>
        
            <td scope="col"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>
            <td scope="col">24/02/2010</td>
            <td scope="col">12/12/2011</td>
            
        </tr>
        
        <tr class="even">
        
            <td scope="col"><input type="checkbox" name="checkbox3" id="checkbox3"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>
            <td scope="col">12/09/2009</td>
            <td scope="col">21/12/2011</td>
            
        </tr>
        
        <tr>
            <td scope="col"><input type="checkbox" name="checkbox4" id="checkbox4"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>
            <td scope="col">05/09/2009</td>
            <td scope="col">12/11/2011</td>
           
        </tr>
        
        <tr class="even">
        
            <td scope="col"><input type="checkbox" name="checkbox5" id="checkbox5"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>
            <td scope="col">12/06/2009</td>
            <td scope="col">13/08/2011</td>
            
        </tr>
        
        <tr>
        
            <td scope="col"><input type="checkbox" name="checkbox6" id="checkbox6"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>
            <td scope="col">05/06/2009</td>
            <td scope="col">14/7/2011</td>
            
        </tr>


        
        <tr class="even">
            <td scope="col"><input type="checkbox" name="checkbox7" id="checkbox7"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>                   
            <td scope="col">12/09/2009</td>
            <td scope="col">21/08/2011</td>
            
        </tr>
        
        <tr>
            <td scope="col"><input type="checkbox" name="checkbox8" id="checkbox8"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>
            <td scope="col">08/12/2009</td>
            <td scope="col">22/10/2011</td>
           
        </tr>
        
        <tr class="even">
        
            <td scope="col"><input type="checkbox" name="checkbox9" id="checkbox9"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>
            <td scope="col">12/09/2009</td>
            <td scope="col">28/09/2011</td>
            
        </tr>
        
        <tr>
        
            <td scope="col"><input type="checkbox" name="checkbox10" id="checkbox10"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>                
            <td scope="col">05/04/2009</td>
            <td scope="col">21/12/2011</td>
            
        </tr>
        
        <tr class="even">
            <td scope="col"><input type="checkbox" name="checkbox11" id="checkbox11"></td>
            <td scope="col">Johnathan</td>
            <td scope="col">Doe</td>
            <td scope="col"><a href="#">john.doe@myinternet.com</a></td>
            <td scope="col">12/7/2009</td>
            <td scope="col">21/12/2011</td>
           
        </tr>
    </tbody></table>
    
    <!-- END TABULAR DATA EXAMPLE
      
           
           
           <div class="grid_12">
           
           <div class="clearfix">&nbsp;</div>
           
            <ul id="pagination">
                <li class="previous-off">上一页</li>
                <li class="active">1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li class="next"><a href="#">下一页</a></li>
                
            </ul>
           </div>           

           
           <div class="clearfix">&nbsp;</div> -->
