
<!-- 库存流水信息查询=====孙云峰 -->

    <h2>请选择查询方式</h2>     

    <div class="clearfix">&nbsp;
	</div>  
	 <h2><a href="/Home/GroceryLog/sumCheck">---汇总查询--</a></h2> 
	 <h2><a href="/Home/GroceryLog/buyCheck">---采购明细查询--</a></h2> 
	 <h2><a href="/Home/GroceryLog/rvCheck">--接收明细查询---</a></h2> 
	 <h2><a href="/Home/GroceryLog/faCheck">---分发明细查询---</a></h2> 
	 <h2><a href="/Home/GroceryLog/desCheck">---销库明细查询---</a></h2> 
	 <h2><a href="/Home/GroceryLog/exCheck">---兑换明细查询---</a></h2> 
     <div class="clearfix">&nbsp;</div>
		  

