<!-- 会员详情=====张冬冬-->
    <h2>会员详情</h2>
    <table width="55%" border="0" cellpadding="0" cellspacing="0">   
		<tbody>
		<tr class="even">
            <th>姓名：</th>
            <th>{$vrpdetails.vrp_name}</th>
        </tr>
		<tr class="even">
			<th>所属网点：</th>
			<th>{$vrpdetails.vrp_inst}</th>
		</tr>
		<tr class="even">
			<th>电话：</th>
			<th>{$vrpdetails.vrp_phone}</th>
		</tr>
		<tr class="even">
			<th>客户级别：</th>
			<th>{$vrpdetails.vrp_lv}</th>
		</tr>
		<tr class="even">
			<th>地址：</th>
			<th>{$vrpdetails.vrp_address}</th>
		</tr>
		<tr class="even">
            <th>客户属性：</th>
			<th>{$vrpdetails.vrp_type}</th>
		</tr>
		<tr class="even">
			<th>信用状态：</th>
			<th>{$vrpdetails.vrp_xstate}</th>
		</tr>
		<tr class="even">
			<th>会员状态：</th>
			<th>{$vrpdetails.vrp_state}</th>
		</tr>
		</tbody>
	</table><br/>
	<a class="" href="__APP__/Home/Member/index">返回</a>
    <div class="clearfix">&nbsp;</div>
