[Desktop Entry]
Categories=Qt;KDE;Core;
Comment=
Comment[zh_CN]=
Encoding=UTF-8
Exec=kfmclient exec system:/
GenericName=My Computer
GenericName[ja]=マイ コンピュータ
GenericName[ko]=내 컴퓨터
GenericName[zh_CN]=我的电脑
GenericName[zh_TW]=My Computer
GenericName[vi]=Máy tính
Icon=mycomputer
MimeType=
Name=My Computer
Name[ja]=マイ コンピュータ
Name[ko]=내 컴퓨터
Name[zh_CN]=我的电脑
Name[zh_TW]=我的電腦
Name[vi]=Máy tính
Comment=MyComputer
Comment[zh_CN]=我的电脑
Comment[zh_TW]=我的電腦
Comment[vi]=Máy tính
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
